{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
<p> Welcome to TravelandTourism - Your Gateway to Memorable Journeys!
    At TravelandTourism, we're passionate about turning your travel dreams into reality. We understand that every journey is a story waiting to be told, and that's why we're dedicated to curating exceptional travel experiences that will leave you with cherished memories for a lifetime. Whether you're seeking adventure, relaxation, cultural exploration, or simply a getaway from the routine, we have the perfect destination and package tailored just for you.
</p>    
{% endblock body %}

