{% extends 'base.html' %}
{% block title %}Book Package{% endblock title %}
{% block body %}

<html lang="en" class=" js csstransforms csstransforms3d csstransitions">

<head>
  <script type="text/javascript" async=""
    src="chrome-extension://namibaeakmnknolcnomfdhklhkabkchl/chrome-popup/mixpanel-2-latest.min.js"></script>
  <script type="text/javascript" async=""
    src="https://www.googletagmanager.com/gtag/js?id=G-2XTHC5KKPN&amp;cx=c&amp;_slc=1"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enquire Now For Free Quotes For Your Tour</title>
  <link rel="shortcut icon" href="favicon.ico">
  <meta name="description"
    content="Enquire Now for the Best &amp; Tailor Made Tour Packages by Travelsite India. Get Free Quotes &amp; No Obligation To Buy.">
  <meta name="author" content="Travel Site India">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="confirmation.html">
  <meta name="Googlebot" content="index, follow">
  <meta name="robots" content="index,follow">
  <link href="css20/webslidemenu.css" rel="stylesheet" media="all">
  <link href="css20/india-tour.css" rel="stylesheet" media="all">

  <link href="style.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="menu.css">
  <link rel="stylesheet" href="css/font-awesome.css" type="text/css">
  <link rel="stylesheet" href="css/animate.min.css" type="text/css">
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <link rel="stylesheet" type="text/css" href="css/hovereffect.css">
  <!-- Owl Carousel Assets -->
  <link rel="stylesheet" href="css/mix11.css">
  <link rel="stylesheet" type="text/css" href="css/newhome.css">
  <link
    href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i%7CMerriweather:300,300i,400,400i,700,700i,900,900i"
    rel="stylesheet">



  <link href="style-get-customized.css" rel="stylesheet" type="text/css">
  <link href="owl-carousel/owl.carousel.css" rel="stylesheet">
  <link href="owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
  <link href="css/india.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

  <script src="ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/modernizr.custom.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="qform/qf.js" type="text/javascript"></script>

  <script type="text/javascript" src="js/jssor.core.js"></script>
  <script type="text/javascript" src="js/jssor.utils.js"></script>
  <script type="text/javascript" src="js/jssor.slider.js"></script>
  <script src="js1/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="js1/bjqs-1.3.min.js" type="text/javascript"></script>
  <script language="javascript" src="gen_validatorv2.js"></script>
  <script src="js1/custom.js" type="text/javascript"></script>

  <script src="js1/jquery-ui.js" type="text/javascript"></script>

  <script type="text/javascript" src="highslide/highslide-with-gallery.js"></script>
  <link rel="stylesheet" type="text/css" href="highslide/highslide.css">
  <!--
     2) Optionally override the settings defined at the top
     of the highslide.js file. The parameter hs.graphicsDir is important!
     -->
  <script type="text/javascript">
    hs.graphicsDir = 'highslide/graphics/';
    hs.align = 'center';
    hs.transitions = ['expand', 'crossfade'];
    hs.wrapperClassName = 'dark borderless floating-caption';
    hs.fadeInOut = true;
    hs.dimmingOpacity = .75;
    // Add the controlbar
    if (hs.addSlideshow) hs.addSlideshow({
      //slideshowGroup: 'group1',
      interval: 5000,
      repeat: false,
      useControls: true,
      fixedControls: 'fit',
      overlayOptions: {
        opacity: .6,
        position: 'bottom center',
        hideOnMouseOut: true
      }
    });
  </script>


  <!-- Hotjar Tracking Code for www.travelsiteindia.com -->
  <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 608754, hjsv: 5 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
  <script type="text/javascript">

    $(function () {

      $("#datepicker").datepicker();

    });

  </script>
  <script>
    $(document).ready(function () {
      $(".luxury").hover(function () {
        $(this).css("background-color", "white");
        $(this).css("color", "red");
      }, function () {
        $(this).css("background-color", "brown");
        $(this).css("color", "white");
      });

      $('.nav li .lux1 a ').css("background-color", "brown");

    });
  </script>

  <style type="text/css">
    <!--
    .style11 {
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: #FFFFFF;
    }

    .luxury {
      background: brown;
    }
    -->
  </style>
  <!-- Start of StatCounter Code for Default Guide -->
  <script type="text/javascript">
    var sc_project = 11247725;
    var sc_invisible = 1;
    var sc_security = "e617f5c2";
    var scJsHost = (("https:" == document.location.protocol) ?
      "https://secure." : "https://www.");
    document.write("<sc" + "ript type='text/javascript' src='" + scJsHost +
      "statcounter.com/counter/counter.js'></" + "script>");
  </script>
  <script type="text/javascript" src="https://secure.statcounter.com/counter/counter.js"></script>
  <noscript>
    <div class="statcounter"><a title="web analytics" href="https://statcounter.com/" target="_blank"><img
          class="statcounter" src="//c.statcounter.com/11247725/0/e617f5c2/1/" alt="web
     analytics"></a></div>
  </noscript>
  <!-- End of StatCounter Code for Default Guide -->

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-91363888-1', 'auto');
    ga('send', 'pageview');

  </script>
  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      }; if (!f._fbq) f._fbq = n;
      n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
    }(window,
      document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1603965466581688', {
      em: 'insert_email_variable'
    });
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1603965466581688&ev=PageView&noscript=1" /></noscript>
  <!-- DO NOT MODIFY -->
  <!-- End Facebook Pixel Code -->



  <header>
    <div class="header animated fadeInDown">
      <div class="clearfix wsmobileheader">
        <div style="background-color:#000000; height:25px; padding-left:20px;">
        </div>

        <div class="mob_head_right">

        </div>
      </div>
      <div class="top-row-desk">
        <div class="container">
          <div class="option_nav">

          </div>
        </div>
      </div>

      <div>
        <div class="col-md-4 col-sm-4 hidden-xs  mid-header" style="padding-left:5%;"></div>
        <div class="col-md-4 col-sm-4 hidden-xs hidden-sm mid-header1" style="padding-top:13px; "></div>
        <div class="hidden-xs hidden-sm"></div>
        <div style="height:15px;"></div>
        <div class="hidden-xs" style=" padding-bottom:15px;">
          <div>



            <div></div>
          </div>
        </div>

      </div>
    </div>





    <div class="header-nav clone">


    </div>
    </div>
    </div>
    </li>



    </div>
    </div>
    </div>
    </li>






    </div>
    </div>
    </div>
    </li>


    </div>

  </header>
  <div class="row">

  </div>

  <div class="row">

  </div>

  <!--=============== CONTACT-FORM ===============-->
  <section id="contact-form" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <div class="page-heading white-heading">
          </div><!-- end page-heading -->

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7">

              <form id="contact_form" name="form1" class="" action="confirmation.html" onsubmit="return validate()"
                method="post">
                {% csrf_token %}

                <div
                  style="font-family: 'Merriweather', serif; background-color:#002D4B; color:#FFFFFF; font-size:22px; padding:12px;">
                  Customize Your Trip Here</div><br>

                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <input required name="Name" class="form-control required" style="width:100%" type="text" id="Name"
                        placeholder="Name">
                      <span><i class="fa fa-user"></i></span>

                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <input name="Email" type="email" class="form-control required email" id="Email"
                        placeholder="Enter Email">
                      <span><i class="fa fa-envelope"></i></span>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <input name="Phone" class="form-control" type="text" id="Phone" placeholder="Enter Phone">
                      <span><i class="fa fa-phone"></i></span>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <select name="Duration" id="Duration" class="form-control">
                        <option value="Days">Travel Duration</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31+">31+</option>
                      </select>
                      <span><i class="fa fa-user"></i></span>

                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <select name="Adults" id="Adults" class="form-control" required>
                        <option value="" selected="SELECTED">No. of Adults</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="more than 5">More than 5</option>
                      </select>
                      <span><i class="fa fa-user"></i></span>

                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <select name="Children" id="Children" class="form-control" required>
                        <option value="" selected="SELECTED">No. of Kids</option>
                        <option value="0">00</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="more than 5">More than 5</option>
                      </select>
                      <span><i class="fa fa-user"></i></span>

                    </div>
                  </div>
                </div>




                <label for="">Strat Date</label>
                <input class="form-control" type="date" name="Description" value="confirmation.html">
                <label for="">End Date</label>
                <input class="form-control" type="date" name="Description" value="confirmation.html">
                <textarea name="Requirements" class="form-control my-2" required style="height:70px; padding-top:10px;"
                  id="Requirements" rows="2" placeholder="Please Send Your Tour Details"></textarea>

                <input type="hidden" name="Description" value="confirmation.html">

                <button class="btn-orange" style="font-size:20PX;">SUBMIT</button><br>
                <br>

              </form>


              <script language="JavaScript" type="text/javascript">
                //You should create the validator only after the definition of the HTML form
                var frmvalidator = new Validator("form1");


                frmvalidator.addValidation("Date", "maxlen=50");
                frmvalidator.addValidation("Date", "req");
                frmvalidator.addValidation("Date", "Date");

                frmvalidator.addValidation("Duration", "maxlen=100");
                frmvalidator.addValidation("Duration", "req");
                frmvalidator.addValidation("Duration", "Duration");

                frmvalidator.addValidation("Adults", "maxlen=100");
                frmvalidator.addValidation("Adults", "req");
                frmvalidator.addValidation("Adults", "Adults");

                frmvalidator.addValidation("Children", "maxlen=100");
                frmvalidator.addValidation("Children", "req");
                frmvalidator.addValidation("Children", "Children");

                frmvalidator.addValidation("Category", "maxlen=100");
                frmvalidator.addValidation("Category", "req");
                frmvalidator.addValidation("Category", "Category");

                frmvalidator.addValidation("Requirements", "maxlen=500");
                frmvalidator.addValidation("Requirements", "req");
                frmvalidator.addValidation("Requirements", "Requirements");

                frmvalidator.addValidation("Name", "req", "Please enter your First Name");

                frmvalidator.addValidation("Email", "maxlen=100");
                frmvalidator.addValidation("Email", "req");
                frmvalidator.addValidation("Email", "Email");

                frmvalidator.addValidation("tourstyle", "maxlen=100");
                frmvalidator.addValidation("tourstyle", "req");
                frmvalidator.addValidation("tourstyle", "tourstyle");

                frmvalidator.addValidation("Country", "maxlen=100");
                frmvalidator.addValidation("Country", "req");
                frmvalidator.addValidation("Country", "Country");

                frmvalidator.addValidation("Phone", "req", "Please enter the Phone no.");
                frmvalidator.addValidation("Phone", "maxlen=50");
                frmvalidator.addValidation("Phone", "numeric");

              </script>
            </div





          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <div class="clear"></div>

  <div class="row">
    <footer>
      <div class="row">






        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/jquery.inview.js"></script>

        <script src="owl-carousel/owl.carousel.js"></script>
        <script>
          $(document).ready(function () {
            $("#owl-demo").owlCarousel({
              autoPlay: 3000,
              items: 4,
              itemsDesktop: [1199, 4],
              itemsDesktopSmall: [980, 3],
            });
          });
        </script>
        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="script.js"></script>

        <script src="js20/jquery.autocomplete.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="js20/webslidemenu.js"></script>
        <script type="text/javascript" src="js20/travels-function.js"></script>
        {% endblock body %}