{% extends 'base.html' %}
{% block title %}Contact {% endblock title %}
{% block body %}

<img src="/static/contact.jpg"  class="img-fluid" alt="Background Image" style="width:100vw;height:90vh;filter: blur(4px);">

<div class= "col-md-8" style="
position: absolute;
top: 140px;
left:18vw;
font-size:large;
color:  darkkhaki;font-style: italic;" >
  <h1 class='text-center'> Contact Us </h1>
  <form method='post' action="/contact">
    {% csrf_token %}
    <div class='form-group'>
      <label for='name'>Name</label>
      <input type="text" class="form-control" id="name" name='name' placeholder="Enter Your Name">
    </div>
    <div class="'form-group'">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
    </div>
     
    <div class='form-group'>
        <label for="desc" >Reason for contacting us...</label>
        <textarea class="form-control" id="desc" rows="3" name='desc'></textarea>
    </div>
    <button class='btn btn-primary' type='submit' style="margin-top: 7px"> Submit</button>
  </form>
 
</div>
{% endblock body %}