{%extends 'base.html'%}

{%block body%}

<img src="/static/book.jpg"  class="img-fluid" alt="Background Image" style="width:100vw;height:90vh;filter: blur(3px);">

<div class="container d-flex flex-column justify-content-center col-md-8" style="
position: absolute;
top: 140px;
left:15vw;
font-size:large;
color:  crimson;font-style: italic;">
    {%if messages%}
    {%for message in messages%}
    <h1 class="bg-{{message.tags}} w-100">{{message}}</h1>
    {%endfor%}
    {%else%}
    <h1>Available Seats: {{available}}</h1>
    {%endif%}
    <form action="" method="post" class="w-100">
        {%csrf_token%}
        {{form.as_p}}
        <button class="btn btn-primary" type="submit">Confirm</button>
    </form>
</div>
{%endblock body%}