{% extends 'base.html' %}
{% block title %}{{place}}{% endblock title %}
{% block body %}
{%if place.cover %}
<img src="{{place.cover.url}}" class="img-fluid" alt="..." style="width:2000px;height:570px;">
{%endif%}
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Description
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">{{place.description}}</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Cultures Of {{place.name}}
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="d-flex">
        {%for photo in place_culture_photos%}
        <img src="{{photo.photo.url}}" class="img-fluid m-2" alt="..." style="width:250px;height:250px;">
        <p>{{place.description}}</p>
        
        {%endfor%}
      </div>
      <!-- <div class="accordion-body">{{place.description}}</div> -->
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Resources
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <p>Here are some YouTube links that provide valuable information about {{place}}, including tips on how to reach
          {{place}}, recommended places to visit, and more. These links will give you a comprehensive understanding of
          {{place}} and enhance your knowledge about the destination.</p>
        <div class="youtube-video" style="display: inline-block; width: 48%; margin-right: 10px;">
          {% for video in place_videos%}
          <iframe width="560" height="315" src="{{video.video}}" frameborder="0" allowfullscreen></iframe>
          <p><b><i><u>{{place}} bhromon Guide</u></i></b></p>
          {%endfor%}
        </div>
      </div>
    </div>

  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        Famous food Items
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse mx-5" data-bs-parent="#accordionFlushExample">
      <div class="d-flex h-25">
        {% for food in place_foods%}
        <div class="w-25">
          <h5 class="text-center">Name: {{food.name}}</h5>
          <img src="{{food.photo.url}}" class="img-fluid" alt="..." style="width:400px;height:250px;">
          <p>{{food.description}}</p>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
        Available Hotels
      </button>
    </h2>
    <div class="hotels-div d-flex">
      {%for hotel in hotels %}
      <div id="flush-collapsefive" class="accordion-collapse collapse mx-2" data-bs-parent="#accordionFlushExample">
        {% for photo in hotel.photos%}
        <img src="{{photo.photo.url}}" class="img-fluid" alt="..." style="width:240px;height:250px;">
        {%endfor%}
        <h4 class="accordion-body">Name: {{hotel.info.name}}</h4>
        <div class="accordion-body">Contact number: {{hotel.info.contact}} , Hotel website link:<a target="_blank"
            href="{{hotel.info.website}}"> Website Link</a></div>
      </div>
      {%endfor%}
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
        See Packages
      </button>
    </h2>
    <div id="flush-collapseEight" class="accordion-collapse collapse mx-5" data-bs-parent="#accordionFlushExample">
      <div class="d-flex h-25">
        {%for package in packages%}
        <div class="card shadow-sm my-2" style="width: 18rem;">
          <img src="{{package.cover.url}}" class="img-fluid" alt="..." style="width:2000px;height:200px;">
          <div class="card-body">
            <p class="card-text">{{package.name}} <br> Price: {{package.price}}TK</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{%url 'package_details' package.id%}" class="btn btn-success">Details</a>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>



  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
        Available Guides
      </button>
    </h2>
    <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="pt-2">
        <div class="guides d-flex">
          
          {% for guide in guides%}
          <div class="guide-info mx-3">
            <img src="{{guide.photo.url}}" style="height: 50px;" alt="">
            <h4>Name: {{guide.name}}</h4>
            <h5>Age: {{guide.age}}</h5>
            <h5>Phone Number: {{guide.phone}}</h5>
          </div>
          
          {%endfor%}
        </div>
      </div>
    </div>


  </div>
</div>
{% endblock body %}